<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.provider.dao.BookEntityDao" >
  
  <resultMap id="BaseResultMap" type="com.zm.provider.entity.Book" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <id column="PRICE" property="price" jdbcType="BIGINT" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getBook" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select * from book_test
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="getBookByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from book_test 
    where name = #{name,jdbcType=VARCHAR}
  </select>
  
  <insert id="insertPay" parameterType="com.zm.provider.entity.Book">
 		 INSERT INTO
		 payplus_test.book_test (name,price,create_time) 
		 VALUES (#{name,jdbcType=VARCHAR},#{price,jdbcType=VARCHAR},current_timestamp)
 	</insert>
 
</mapper>