<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.provider.dao.PayEntityDao" >
  
  <resultMap id="BaseResultMap" type="com.zm.provider.entity.Pay" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <id column="PRICE" property="price" jdbcType="BIGINT" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- <resultMap id="myResultMap"  type="HashMap">  
	    <result property="name" column="name" />  
	    <result property="createTime" column="create_time" />  
  	   </resultMap>  -->

 	<insert id="insertPay" parameterType="com.zm.provider.entity.Pay">
 		 INSERT INTO
		 payplus_test.pay_test (name,price,create_time) 
		 VALUES (#{name,jdbcType=VARCHAR},#{price,jdbcType=VARCHAR},current_timestamp)
 	</insert>
 	
 	<select id="getPayInfo" parameterType="java.lang.String" resultType="java.util.Map">
 	  select name,create_time from pay_test where name = #{name,jdbcType=VARCHAR}
 	</select>
 	
 	<select id="getNameList" resultType="java.util.Map">
 	  select name from pay_test where 1=1
 	</select>
</mapper>